<%- include('header'); -%>

<p>This is an about page</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas nobis porro aperiam dicta ipsam est vel soluta laudantium distinctio totam dolorem ut et voluptatem unde, nam officia ab quaerat alias maxime facilis fugit ducimus quia ipsa? At eveniet delectus labore totam nihil hic recusandae, aliquam sunt, officiis, quas vero ut quod dolor. Temporibus nisi nesciunt repellat, natus veritatis nostrum vitae sunt, nihil pariatur commodi itaque obcaecati! Similique voluptates provident sequi fugit in libero excepturi, ratione assumenda corrupti quis quia adipisci dolorum molestiae sapiente magni quibusdam debitis nesciunt aspernatur incidunt at dolores soluta laudantium autem! Dignissimos nobis ea labore cum.</p>

<%- include('footer'); -%>